ogcrawler/src/main/resources/META-INF/WebCrawlers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/WebCrawlers" xmlns:tns="http://www.example.org/WebCrawlers" elementFormDefault="qualified">
	
	<complexType name="WebCrawlers">
		<sequence>
			<element name="WebCrawler" type="tns:WebCrawler"
				maxOccurs="unbounded" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="WebCrawler">
		<sequence>
			<element name="name" type="string" maxOccurs="1"  minOccurs="1"/>
			<element name="description" type="string" maxOccurs="1"  minOccurs="1"/>
			<element name="contentHandler" type="string" maxOccurs="1"  minOccurs="1"/>
			<element name="scopeDef" type="tns:scopeDef" maxOccurs="1" minOccurs="0"></element>
		</sequence>
		<attribute name="id" type="string" use="required"></attribute>
		<attribute name="domainUrl" type="string" use="required"></attribute>
		<attribute name="historyTracking" type="boolean" use="optional"></attribute>
		<attribute name="flushFrequency" type="int" use="optional"></attribute>
		<attribute name="thresholdFrequency" type="int" use="optional"></attribute>
	</complexType>
	
	<complexType name="scopeDef">
		<sequence>
			<element name="scope" type="tns:scope" maxOccurs="unbounded" minOccurs="0"></element>
			<element name="condition" type="string" maxOccurs="1"  minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="scope">
		<sequence>
			<element name="type" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="value" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		<attribute name="id" type="string" use="required"></attribute>
	</complexType>
	
	<complexType name="scheduler">
		<attribute name="initialDelay" type="int"></attribute>
		<attribute name="periodicDelay" type="int"></attribute>
		<attribute name="timeUnit" type="string"></attribute>
	</complexType>
</schema>