ogcrawler/src/main/resources/META-INF/WebCrawlers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.squilla.co.in/WebCrawlers"
	xmlns:tns="http://www.squilla.co.in/WebCrawlers" elementFormDefault="qualified">

	<element name="WebCrawlers" type="tns:WebCrawlers"></element>

	<complexType name="WebCrawlers">
		<sequence>
			<element name="Properties" type="tns:Properties" maxOccurs="1"
				minOccurs="0"></element>
			<element name="WebCrawler" type="tns:WebCrawler" maxOccurs="unbounded"
				minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="Properties">
		<sequence>
			<element name="Property" type="tns:Property" maxOccurs="unbounded"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="Property">
		<attribute name="key" type="string" use="required"></attribute>
		<attribute name="value" type="string" use="required"></attribute>
	</complexType>

	<complexType name="WebTracker">
		<sequence>
			<element name="serviceId" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="WebCrawler">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1" />
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="webLinkTracker" type="tns:WebTracker"
				maxOccurs="1" minOccurs="0"></element>
			<element name="contentHandler" type="tns:ContentHandler"
				maxOccurs="1" minOccurs="1" />
			<element name="geoTagResolver" type="tns:GeoTagResolver"
				maxOccurs="1" minOccurs="0" />
			<element name="taxonomyClassifier" type="tns:TaxonomyClassifier"
				maxOccurs="1" minOccurs="0" />
			<element name="linkFilter" type="tns:LinkFilter" maxOccurs="1"
				minOccurs="0"></element>
			<element name="scheduler" type="tns:scheduler" maxOccurs="1"
				minOccurs="1"></element>
		</sequence>
		<attribute name="id" type="string" use="required"></attribute>
		<attribute name="domainUrl" type="string" use="required"></attribute>
		<attribute name="flushFrequency" type="int" use="optional"></attribute>
		<attribute name="thresholdFrequency" type="int" use="optional"></attribute>
		<attribute name="robotRulesExists" type="boolean" use="required"></attribute>
	</complexType>

	<complexType name="ContentHandler">
		<sequence>
			<element name="handler" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="feedUploader" type="tns:FeedUploader"
				maxOccurs="1" minOccurs="1" />
		</sequence>
		<attribute name="preClassifiedType" type="string" use="optional"></attribute>
	</complexType>

	<complexType name="FeedUploader">
		<sequence>
			<element name="uploader" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="config" type="tns:Config" maxOccurs="unbounded"
				minOccurs="0" />
		</sequence>
	</complexType>
	
	<complexType name="GeoTagResolver">
		<sequence>
			<element name="resolver" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="TaxonomyClassifier">
		<sequence>
			<element name="resolver" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="Config">
		<attribute name="key" type="string" use="required"></attribute>
		<attribute name="value" type="string" use="required"></attribute>
	</complexType>

	<complexType name="LinkFilter">
		<sequence>
			<element name="condition" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="scheduler">
		<attribute name="initialDelay" type="int"></attribute>
		<attribute name="periodicDelay" type="int"></attribute>
		<attribute name="timeUnit" type="string"></attribute>
	</complexType>
</schema>